{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="static/map.js"></script>
<style>
    .custom-btn {
        background-color: #aeb2eb;
        color: #fff;
    }
</style>
<header class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo" width="50" height="50">
            <span style="font-weight: bold; color: rgb(29, 113, 209); font-family: 'Roboto Mono', monospace; font-size: 20px;">MY NOTAM WATCH</span>
        </a>
        <div id="flying-plane"></div>
        <button class="custom-button" onclick="returnToForm()">Go Back</button>
    </div>
</header>

<div class="container mt-5">
    <button id="filterButton" onmouseenter="showFilterOptions()" onmouseleave="hideFilterOptions()" class="custom-button">Filter</button>
    <button id="rankButton" onmouseenter="showRankList()" onmouseleave="hideRankList()" class="custom-button">Rank</button>
	
    <div id="filterOptions" style="z-index: 9999;" class="dropdown-menu" onmouseenter="showFilterOptions()" onmouseleave="hideFilterOptions()">
        <form>
            <input type="checkbox" id="closed_runways" name="filter_options" value="closed_runways">
            <label for="closed_runways" title="Remove subsequent NOTAMs related to closed runway">Remove Closed Runways</label><br>
            <input type="checkbox" id="obstacle_notams" name="filter_options" value="obstacle_notams">
            <label for="obstacle_notams" title="Remove ALL NOTAMs related to obstacles">Remove Obstacle NOTAMs</label><br>
            <input type="checkbox" id="high_obstacle_notams" name="filter_options" value="high_obstacle_notams">
            <label for="high_obstacle_notams" title="Keep ONLY NOTAMs above 500ft">Keep Only High Obstacle NOTAMs</label><br>
            <input type="checkbox" id="lighting_marking_notams" name="filter_options" value="lighting_marking_notams">
            <label for="lighting_marking_notams" title="Remove ALL NOTAMs marked as lighting or marking">Remove Lighting & Marking NOTAMs</label><br>
            <input type="checkbox" id="cancelled_notams" name="filter_options" value="cancelled_notams">
            <label for="cancelled_notams" title="remove ALL NOTAMs marked as Cancelled">Remove Cancelled NOTAMs</label><br>
            <input type="hidden" id="notamsJson" value="{{ notams_json }}">
            <button type="button" onclick="applyFilters()">Apply Filters</button>
        </form>
    </div>
	
	<div class="sortable-list" style="z-index: 9999;" id="sortableListContainer" onmouseenter="showListContainer()" onmouseleave="hideListContainer()">
		<ul id="notamBoxes">
			<li draggable="true">FDC</li>
			<li draggable="true">INTL</li>
			<li draggable="true">DOM</li>
			<li draggable="true">MIL</li>
			<li draggable="true">SAA</li>
		</ul>
		<button type="button" onclick="applyRanking()">Apply Rank</button>
	</div>
</div>
<div class="container mt-5">
    <h1 style="margin-left: -2px;">NOTAM Information</h1>
    <div class="m-2" style="height: 300px; width: 100%;" id="map"></div>
</div>

<div class="container mt-5" id="notamList">
    <p>Total number of Notams fetched: {{ notams|length }}</p>
    <p>{{ closedR|length }} deal with Runway Closures</p>


    <div class="accordion">
        {% for notam in notams %}
        <div class="accordion-item">
            <input type="checkbox" class="custom-checkbox" id="item{{ loop.index }}">
            <label for="item{{ loop.index }}" style="background-color: {{ notam.color }};" class="accordion-header custom-checkbox-label">
                {% if notam.color == '#ff7f7f' %}
                    <i class="fas fa-exclamation-triangle" style="color: black;"></i>
                {% elif notam.color == '#bad4b7' %}
                    <i class="fas fa-check-square" style="color: black;"></i>
                {% elif notam.color == '#ffd966' %}
                    <i class="fas fa-exclamation-circle" style="color: black;"></i>
                {% endif %}
                Notam ID: {{ notam.id }} Type: {{notam.type}}
            </label>
            <div class="accordion-content">
                <p><strong>Series: </strong>{{ notam.series }}</p>
                <p><strong>Number: </strong>{{ notam.number }}</p>
                <p><strong>Coordinates: </strong>{{ notam.coordinates }}</p>
                <p><strong>Type: </strong>{{ notam.type }}</p>
                <p><strong>Classification: </strong>{{ notam.classification }}</p>
                <p id="sectionID{{loop.index}}">
                    <button class="btn custom-btn btn-sm" onclick="translateText('{{ loop.index }}')">
                        <i class="fa-solid fa-robot"></i>
                    </button>
                    <strong>Text: </strong>
                    <a id="textID{{loop.index}}">{{ notam.text }}</a>
                </p>
                <p id="translation{{loop.index}}"></p>
                
                <p><strong>Start: </strong>{{ notam.effectiveStart }}</p>
                <p><strong>End: </strong>{{ notam.effectiveEnd }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var calledPoints = '{{calledPoints|tojson}}';
    calledPoints = JSON.parse(calledPoints);

    // converts all the coordinates to valid format
    // var notamCoords = processCoordinates('{{ notams }}'); 

    var notamCoords = [];
    {% for notam in notams %}
        if ("{{ notam.coordinates }}" != "None")
        notamCoords.push([parseCoord("{{ notam.coordinates }}")]);
    {% endfor %}
    
    loadMap(notamCoords);




</script>
<script src="static/map.js" ></script>
<script src="static/display.js"></script>

{% endblock %}